@Html.Partial("header.cshtml")

<form class="" action="/scrabble" method="post">
  <label for="userWord">Word to find score:</label><input type="text" name="userWord" value="" autofocus>
  <input type="submit" name="submit" value="Get Your score">
</form>
